<html ng-app>
<head>
	<title>Mis series recomendadas</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<style>
		.tachar { text-decoration: line-through; }
	</style
</head>
<body ng-init="series = [
	'Breaking Bad',
	'Game of Thrones',
	'House of Cards',
	'Narcos'
]">
<h1>Mis series recomendadas</h1>
<p>Marca las series que ya viste</p>
<ul>
	<li ng-repeat="serie in series">
		<input type="checkbox" ng-model="visto"> 
		<span ng-class="{'tachar':visto}">{{ serie }}</span>
	</li>
</ul>
<h2>Agrega los tuyos</h2>
<input type="text" ng-model="serie" placeholder="Nueva serie">
<button ng-click="series.push(serie); serie = ''">Agrega</button>
</body>
</html>
